body {
    padding-top: 7rem;
    background: #ffffff;
    color: #333;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings:"onum" 1;
    -ms-font-feature-settings:"onum" 1;
    -o-font-feature-settings:"onum" 1;
    -webkit-font-feature-settings:"onum" 1;
    font-feature-settings:"onum" 1;
}
/* * DOWNLOAD URL: https://google-webfonts-helper.herokuapp.comfonts/roboto?subsets=latin *\/ */
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v18-latin-regular.woff') format('woff');
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v18-latin-700.woff') format('woff');
}
/* DOWNLOAD URL: https://google-webfonts-helper.herokuapp.com../fonts/roboto-condensed?subsets=latin */
/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-condensed-v16-latin-regular.woff') format('woff');
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../fonts/roboto-condensed-v16-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-condensed-v16-latin-700.woff') format('woff');
}
/* DOWNLOAD URL: https://google-webfonts-helper.herokuapp.com../fonts/roboto-slab?subsets=latin */
/* roboto-slab-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff');
}
/* roboto-slab-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('../fonts/roboto-slab-v7-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-slab-v7-latin-700.woff') format('woff');
}
/* DOWNLOAD URL: https://google-webfonts-helper.herokuapp.com/../fonts/crimson-text?subsets=latin */
/* crimson-text-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('CrimsonText-Regular'),
       url('../fonts/crimson-text-v8-latin-regular.woff2') format('woff2'),
       url('../fonts/crimson-text-v8-latin-regular.woff') format('woff');
}
/* crimson-text-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
       url('../fonts/crimson-text-v8-latin-700.woff2') format('woff2'),
       url('../fonts/crimson-text-v8-latin-700.woff') format('woff');
}
/*OCHA dashboard theme*/
.section.sidebar {
  top: 51px;
  background-color: rgba(65,143,222, 0.8);
}
.value-box {
  color: #f9f9f9;
}
.bg-primary {
  background-color: rgba(65,143,222, 0.8);
}
.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(65,143,222, 0.8);
}
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(65,143,222, 0.8);
}
.bg-info {
  background-color: rgba(144,99,205, 0.8);
}
.bg-warning {
  background-color: rgba(229,106,84, 0.8);
}
.bg-danger {
  background-color: rgba(205,58,31, 0.8);
}
.bg-success {
  background-color: rgba(127,185,47, 0.8);
}
.chart-title {
  font-weight: 500;
}

.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:active {
  font-weight: 500;
}
.navbar-inverse {
  background-color: #ffffff;
  border-bottom-color: #418fde;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
.navbar-inverse .navbar-brand {
    color: #418fde;
    margin-top:-1rem;
    margin-bottom:1rem;
}
.navbar-author {
  font-size: 1em;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #418fde;
  background-color: none;
}
.navbar-inverse .navbar-text {
  color: #418fde;
}
.navbar-inverse .navbar-nav > li > a {
  color: #418fde;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #418fde;
}
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #418fde;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #ffffff;
  color: #418fde;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #418fde;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #418fde;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #418fde;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #418fde;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #ffffff;
    color: #418fde;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #ffffff;
    color: #418fde;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #418fde;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #418fde;
}
.navbar-inverse .navbar-link:hover {
  color: #418fde;
}
.navbar-inverse .btn-link {
  color: #418fde;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #418fde;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #418fde;
}
.navbar-inverse .navbar-logo {
    border-right-color: #418fde;
    border-right-style: solid;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
}
.dashboard-foonote {
    /* width: 100%; */
    border-top-color: #418fde;
    border-top-width: 2px;
    border-top-style: solid;
    font-family:roboto,sans-serif;
    font-weight: 400;
    font-size:0.5em;
    font-style:italic;
}
.dashboard-date {
    color: #418fde;
    font-family:roboto,sans-serif;
    font-weight: 400;
    font-size:1.2em;
    font-style:italic;
}

