body {
    background: hsl(0, 0%, 97%);
    color: #333;
    padding-top: 1rem;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings:"onum" 1;
    -ms-font-feature-settings:"onum" 1;
    -o-font-feature-settings:"onum" 1;
    -webkit-font-feature-settings:"onum" 1;
    font-feature-settings:"onum" 1;
}


/* * DOWNLOAD URL: https://google-webfonts-helper.herokuapp.com../fonts/roboto?subsets=latin *\/ */
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v18-latin-regular.woff') format('woff');
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v18-latin-700.woff') format('woff');
}
/* DOWNLOAD URL: https://google-webfonts-helper.herokuapp.com../fonts/roboto-condensed?subsets=latin */
/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff');
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../fonts/roboto-slab-v7-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-slab-v7-latin-700.woff') format('woff');
}
/* DOWNLOAD URL: https://google-webfonts-helper.herokuapp.com../fonts/roboto-slab?subsets=latin */
/* roboto-slab-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff');
}
/* roboto-slab-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('../fonts/roboto-slab-v7-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-slab-v7-latin-700.woff') format('woff');
}
/* DOWNLOAD URL: https://google-webfonts-helper.herokuapp.com/../fonts/crimson-text?subsets=latin */
/* crimson-text-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('CrimsonText-Regular'),
       url('../fonts/crimson-text-v8-latin-regular.woff2') format('woff2'),
       url('../fonts/crimson-text-v8-latin-regular.woff') format('woff');
}
/* crimson-text-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
       url('../fonts/crimson-text-v8-latin-700.woff2') format('woff2'),
       url('../fonts/crimson-text-v8-latin-700.woff') format('woff');
}
/* Add a save pdf button */
.btn-pdf {
    display: inline-block;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 18px 24px;
    background-image: url(../img/icon-pdf.svg);
    cursor: pointer;
    border: 0;
    width: 32px;
    height: 32px;
    text-align: left;
}
